{% extends "base.html" %} {% block title %} {{super()}} - Members {% endblock %}
{% block content %}
<h2>Members</h2>
{% for member in members %}
<section>
    <h3>
        <a href="{{url_for('view_member', id=member.MemberID)}}">{{ member.MemberName }}</a>
    </h3>
    {# Add links for edit and delete #}
    {# <a href="{{ url_for('edit_member', member_id=member.MemberID) }}">Edit</a> |
    <a href="{{ url_for('delete_member', member_id=member.MemberID) }}">Delete</a> #}

    <p><strong>Main Position:</strong> {{ member.MainPosition }}</p>

    <h4>Bands</h4>
    <ul>
        {% for m in member.memberships %}
        <li>
            <a href="{{url_for('view_band', id=m.band.BandID)}}">{{m.band.BandName}}</a> - {{ m.Role or
            m.member.MainPosition }}
            {% if m.StartYear %} ({{ m.StartYear }}{% if m.EndYear %} - {{ m.EndYear }}{% else %} - present{%endif%}){%
            endif %}
            &nbsp;
            <a href="{{ url_for('edit_membership', id=m.MembershipID) }}">Edit</a> |
            <a href="{{ url_for('delete_membership', id=m.MembershipID) }}">Delete</a>
            <br>
            <h5>Albums</h5>
            <ul>
                {% for album in m.band.albums %}
                {% if m.StartYear <= album.ReleaseYear <=m.EndYear %}
                <li>{{album.AlbumTitle}} ({{ album.ReleaseYear }})</li>
                {%endif%}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</section>
<hr />
{% endfor %}
{% endblock %}