{% extends "base.html" %}
{% block title %} {{super()}} - {{member.MemberName}} {% endblock %}
{% block content %}
<section>
    <div class="container my-5">
        <div class="band-focus p-5 text-center bg-body-secondary rounded-3">
            <h1 class="text-body-emphasis">{{member.MemberName}}</h1>
            <p class="col-lg-8 mx-auto fs-5 text-muted">

            <p><strong>Main Position:</strong> {{ member.MainPosition }}</p>

            {{ entity_buttons(entity_name="member", entity_id=member.MemberID)}}
            
            <h4>Memberships</h4>
            <ul>
                {% for m in member.memberships %}
                <li>
                    <a href="{{url_for('view_band', id=m.band.BandID)}}">{{m.band.BandName}}</a> - {{ m.Role or
                    m.member.MainPosition }}
                    {% if m.StartYear %} ({{ m.StartYear }}{% if m.EndYear %} - {{ m.EndYear }}{% else %} -
                    present{%endif%}){%
                    endif %}
                    &nbsp;
                    <a href="{{ url_for('edit_membership', id=m.MembershipID) }}">Edit</a> |
                    <a href="{{ url_for('delete_membership', id=m.MembershipID) }}">Delete</a>

                    <h4>Albums</h4>
                    <ul>
                        {% for album in m.band.albums %}
                        {% if album.ReleaseYear >= m.StartYear and album.ReleaseYear <= m.EndYear %}
                        <li>
                            {{album.AlbumTitle}}
                            ({{ album.ReleaseYear }})
                        </li>
                        {%endif%}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
            </p>
        </div>
    </div>
</section>
{% endblock %}